* {
    margin: 0px;
    padding: 0px;
  
}

.h4 {
    display: flex;
    align-items: center;
    align-content: center;

}

.h2{
    display: flex;
    align-items: center;
    align-content: center;

}

body footer {
    background-color:plum;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  
}

.Container19 h2{
    text-align: left;
}

.Container19 h5{
    text-align: left;
}

.Container19 p{
    text-align: left;
}

.navbar {
    width: auto;
    height: 70px;
    background-color: blueviolet;
    color: white;
}

.header h1 {

    color: white;
    font-size: 60px;
    text-align: start;

}

.header h4 {
    color: white;
    font-size: 30px;
    text-align: start;
}


.Container1 {
    background-color: blanchedalmond;
    width: 500px;
    height: 125px;
    align-content: flex-start;
    float: left;
    margin: 20px;
    padding: 20px;
}

.Container2 {
    background-color: blanchedalmond;
    width: 500px;
    height: 125px;
    align-content: flex-start;
    float: left;
    margin: 20px;
    padding: 20px;
}

.Container3 {
    background-color: blanchedalmond;
    width: 500px;
    height: 125px;
    align-content: flex-start;
    float: left;
    margin: 20px;
    padding: 20px;
}

.Container4 {
    background-color: blanchedalmond;
    width: 500px;
    height: 125px;
    align-content: flex-start;
    float: left;
    margin: 20px;
    padding: 20px;
}

.Container5 {
    background-color: blanchedalmond;
    width: 500px;
    height: 125px;
    align-content: flex-start;
    float: left;
    margin: 20px;
    padding: 20px;
}

.Container6 {
    background-color: blanchedalmond;
    width: 500px;
    height: 125px;
    align-content: flex-start;
    float: left;
    margin: 20px;
    padding: 20px;
}

.Container7 {

    background-color: blanchedalmond;
    width: 500px;
    height: 125px;
    align-content: flex-start;
    float: left;
    margin: 20px;
    padding: 20px;
}

.Container8 {
    background-color: blanchedalmond;
    width: 500px;
    height: 125px;
    align-content: flex-start;
    float: left;
    margin: 20px;
    padding: 20px;
}

.Container9 {
    background-color: blanchedalmond;
    width: 500px;
    height: 125px;
    align-content: flex-start;
    float: left;
    margin: 20px;
    padding: 20px;
}

.Container12{

    background-color: paleturquoise;
    width: 150px;
    height: 300px;
    padding: 50px;
    margin: 20px;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
  
}
.Container13{
    background-color: paleturquoise;
    width: 150px;
    height: 300px;
    padding: 50px;
    margin: 20px;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
}
.Container14{
    background-color: paleturquoise;
    width: 150px;
    height: 300px;
    padding: 50px;
    margin: 20px;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
}
.Container15{
    background-color: paleturquoise;
    width: 150px;
    height: 300px;
    padding: 50px;
    margin: 20px;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
}




.Container16{
    background-color: paleturquoise;
    width: 150px;
    height: 300px;
    padding: 50px;
    margin: 20px;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
}

.Container18{
    background-color: paleturquoise;
}




.menu {
    text-align: right;
}


.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #04AA6D;
    color: white;
}


.Container10 h2 {
    text-align: center;
    align-content: flex-start;
    padding-right: 250px;
}


.Container11{

    text-align: center;
    align-content: flex-start;
    padding-right: 250px;
}

.Container17{
    width: auto;
    height: 70px;
    background-color: rgb(95, 74, 115);
    color: white;
    position: relative;

}

.footer-tittle h4 {

    align-items:flex-start;  
    position: relative; 
}
.x, .y, .z {
    display: inline-block; /* Display these divs as inline-block elements */
    vertical-align: top; /* Align them to the top of their container */
    margin-right: 100px; /* Adjust spacing between each section */
    margin-bottom:200px;
    margin-top:10px;
   
}


    hr {
        border: none;
        border-top: 2px solid #ab2323; /* Example color for the line */
        margin: 30px 0; /* Example margin */
    }
    
    
.slideshow-container{
    position: relative;
    max-width: 100%;
    margin: 200px;
}

/* Style for the individual slides */
.mySlides {
    display: none;
}




/* Style for the navigation arrows */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 16px;
    color: rgb(161, 37, 37);
    font-weight: bold;
    font-size: 20px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}

/* Positioning for the previous arrow */
.prev {
    left: 0;
}

/* Positioning for the next arrow */
.next {
    right: 0;
}


.clients-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.client-logo {
    width: 100%; /* Adjust as needed */
    text-align: center;
    margin-bottom: 20px;
}

.client-logo img {
    max-width: 100%;
    height: auto;
}


.a {

    display: inline-block; /* Display these divs as inline-block elements */
    vertical-align: top; /* Align them to the top of their container */
    margin-right: 100px; /* Adjust spacing between each section */
    margin-bottom:200px;
    margin-top:10px;
    align-items:flex-start;  
    position: relative; 
}
.b{
    display: inline-block; /* Display these divs as inline-block elements */
    vertical-align: top; /* Align them to the top of their container */
    margin-right: 100px; /* Adjust spacing between each section */
    margin-bottom:200px;
    margin-top:10px;
    align-items:flex-start;  
    position: relative; 

}

.container h2{
text-align: center;
text-size-adjust: bold;

}



#myLinks{
    text-align: right;
}

#myLinks a {
    /* Change the color of the "Home" link */
    text-align: right;
    margin-right: 20px;
    color: rgb(228, 220, 220);
  }

  .border-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: 2px solid #007bff;
    border-radius: 5px;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px; /* Adjust as needed */
    margin-right: 20px; /* Adjust as needed */
}
.border-button:hover {
    background-color: #0056b3; /* Button background color on hover */
    border-color: #0056b3; /* Button border color on hover */
}

::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 25px;
    padding: 5px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 25px;
    padding: 5px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 25px;
    padding: 5px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 25px;
    padding: 5px;
}

/* Adjust size of textarea */
textarea {
    width: 40%; /* Set the width to 100% of its container */
    height: 150px; /* Set a fixed height */
    padding: 5px; /* Add padding */
    font-size: 16px; /* Set font size */
    
}


input[type="text"],
input[type="email"],
input[type="dropdown"],


select {
    width: 30%; /* Set the width to 100% of its container */
    padding: 5px; /* Add padding */
    font-size: 16px; /* Set font size */
    margin-bottom: 10px; /* Add margin */
    text-align: left;
}

/* Adjust size of submit button */
input[type="submit"] {
    padding: 10px 20px; /* Add padding */
    font-size: 16px; /* Set font size */
    margin-top: 10px; /* Add margin */
}


